bundle.jks
private_key.pepk


*.iml
.gradle
java-breeds/local.properties
java-breeds/.idea/caches
java-breeds/.idea/libraries
java-breeds/.idea/modules.xml
java-breeds/.idea/workspace.xml
java-breeds/.idea/navEditor.xml
java-breeds/.idea/assetWizardSettings.xml
.DS_Store
java-breeds/build
java-breeds/captures
.externalNativeBuild
.cxx
java-breeds/local.properties



kotlin-breeds/local.properties
kotlin-breeds/.idea/caches
kotlin-breeds/.idea/libraries
kotlin-breeds/.idea/modules.xml
kotlin-breeds/.idea/workspace.xml
kotlin-breeds/.idea/navEditor.xml
kotlin-breeds/.idea/assetWizardSettings.xml
kotlin-breeds/build
kotlin-breeds/captures
kotlin-breeds/local.properties


#java-ConsumoAPI
./java-ConsumoAPI/src/main/java/com/mycompany/consumoapi/utils/Constants.java
./java-ConsumoAPI/target/
./java-ConsumoAPI/protected/

#PHP-Breeds
./php-breeds/.vscode/ftp-sync.json
./php-breeds/app/config/env.php
./php-breeds/protected/



